<navigation></navigation>

<div class="container">
  <page-header content="vm.pageHeader"></page-header>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <p ng-bind-html="vm.main.content | addHtmlLineBreaks"></p>
    </div>
  </div>

  <div>
<h4>PASSO A PASSO</h4>

<br>
<h2 class="h2teste">Home - Contém:  filtro, botões Cadastrar Local e Deletar,
distância entre você e a localidade </h2>
<img src="img/t1.png" alt="Flowers" height="400" width="600" />
<br>
<h2 class="h2teste">Modal - Cadastrar Local</h2>
<img src="img/t2.png" alt="Flowers" height="400" width="600" />
<br>
<h2 class="h2teste">Modal - Cadastrar Local (Preenchido)</h2>
<img src="img/t3.png" alt="Flowers" height="400" width="600" />
<br>
<h2 class="h2teste">Home - Nova localidade cadastrada</h2>
<img src="img/t4.png" alt="Flowers" height="400" width="600" />
<br>
<h2 class="h2teste">Tela para avaliação da Localidade - Contém: mapa estático da localidade,
campo para deixar sugestões sobre o local  </h2>
<img src="img/t5.png" alt="Flowers" height="400" width="600" />
<br>
<h2 class="h2teste">Modal - Enviar sugestões e avaliar o local</h2>
<img src="img/t6.png" alt="Flowers" height="400" width="600" />
<br>
<h2 class="h2teste">Sugestão cadastrada com sucesso</h2>
<img src="img/t7.png" alt="Flowers" height="400" width="600" />

  </div>

<br>

  <footer-generic></footer-generic>
</div>